.cast {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  gap: 1rem;
  padding: 1rem 0;
  max-width: 1280px;
  margin: 0 auto;
}

.actor {
  border-radius: 0.6em;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  padding: 0.6em;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.actor img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 0.6em;
}

.actor p {
  text-align: center;
}

.actor strong {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.noInfo {
  text-align: center;
  margin-top: 1em;
  color: #646cff;
}
